<div class="background">
    <div class="auth" style="">
        <h1>Please enter your username and password.</h1>

        <form class="ui form">
            <div class="field">
                <label>Username</label>
                <input type="text" ng-model="user.username" placeholder="Username" required>
            </div>
            <div class="field">
                <label>Password</label>
                <input type="password" ng-model="user.password" placeholder="Password" required>
            </div>
            <div class="text-center">
                <button class="big-button ui black button" ng-click="login()" type="submit">Login</button>
            </div>
        </form>

        <div ng-show="invalid" class="ui error message">
            <div class="header">Sorry, your username or password is incorrect.</div>
            <p>Please try again.</p>
        </div>
    </div>

</div>
