

<div id="loading">
    <img id="loading2" src="loading.gif"/>
</div>

<div id="power" class="text-center">
    Power round!
    If you can beat this round, your cumulative score over
    all games will be multiplied by 10!
</div>

<div id="ele-panel" style="margin-left:7px;margin-right:7px;margin-top:7px">
    <table class="eles" style="" class="nostyle">
        <tr style="" ng-repeat="model in modelNames">
            <td style="margin-right: 5px;margin-top:5px;" class="scrolls ui buttons">
                <!--&lt;!&ndash;<button id="neg" class="scroll-btn ui left attached black basic icon button scroll_{{model}}" ng-click="getNext(model, '-')">{{models[model].length - positions[model].pos}}</button>&ndash;&gt;-->
                <!--&lt;!&ndash;<button id="for" class="scroll-btn right attached ui black basic icon button scroll_{{model}}" ng-click="getNext(model, '+')">{{positions[model].pos}}</button>&ndash;&gt;-->
                <!--<button ng-click="getNext(model, '-')" class="scroll_{{model}} scroll-btn ui black icon button" style=""><i class="pointing left icon"></i></button>-->
                <!--<button style="font-size:10px;min-width:70px;border-width:1px;border-style:solid;background-color:white;cursor:default;color:black;" class="scroll_{{model}} ui button">{{positions[model].pos + 1}} / {{ models[model].length }}</button>-->
                <!--<button ng-click="getNext(model, '+')" class="scroll_{{model}} scroll-btn ui black icon button" style=""><i class="pointing right icon"></i></button>-->

                <button ng-click="toggleModelReorder(model)" id="reorder_{{model}}" class="scroll-btn ui black icon button check" style="visibility:hidden"><i class="checkmark icon"></i></button>

            </td>

            <td style="margin-top:5px;">
                <!--only cont bar gets shown-->
                <canvas class="ele" style="border-radius:5px"  ng-right-click="toggleModelReorder(model)" ng-click="select(model)" id="suggest_bar_{{model}}"></canvas>
                <canvas class="ele" style="border-radius:5px;display:none" ng-click="select(model)" id="friend_bar_{{model}}"></canvas>
                <canvas class="ele" style="border-radius:5px;display:none" ng-click="select(model)" id="cont_bar_{{model}}"></canvas>
                <canvas class="ele" style="border-radius:5px;display:none" ng-click="select(model)" id="model_{{model}}"></canvas>
            </td>
        </tr>
    </table>
</div>



<div ng-show="end == 4" style="top:0;bottom:0;left:0;right:0;position:absolute;background-color:rgba(255,255,255,0.5)">

</div>


<!--end == 1-->
<div ng-show="" style="top:0;bottom:0;left:0;right:0;position:absolute;background-color:rgba(255,255,255,0.5)">
    <div class="game-big-pop">
        Congrats! You've reached the target score.<br>
        Please enter a username and password to save your progress
        and advance to the next round.<br>

        <form class="ui form">
            <div class="field">
                <label>Username</label>
                <input type="text" ng-model="user.username" placeholder="Username" required>
            </div>
            <div class="field">
                <label>Password</label>
                <input type="password" ng-model="user.password" placeholder="Password" required>
            </div>

            <div class="field">
                <label>Mechanical Turk ID *Optional.</label>
                <input type="email" ng-model="user.turk" placeholder="Mechanical Turk ID">
            </div>

            <div class="text-center">
                <button class="big-button ui black button" ng-click="signup()" type="submit">Sign up</button>
            </div>
        </form>

        <div ng-show="taken" class="ui error message">
            <div class="header">Sorry, this username is taken.</div>
            <p>Please choose another one.</p>
        </div>
    </div>

</div>

<!--end == 2 || end == 3-->
<div ng-show="end == 2 || end == 3" style="top:0;bottom:0;left:0;right:0;position:absolute;background-color:rgba(255,255,255,0.5)">
    <div class="game-big-pop" class="text-center" style="">
        Thanks for playing!
        your efforts will help improve software engineering practices <a ui-sref="about" style="" >[learn more]</a>.<br><br>

        <div ng-show="cond == 'ks'">
            Do you think you have what it takes to become the top matchmaker?

            Your score is <span class="score">{{performance.player}} (Rank: {{overallScoreRank || 'unranked'}})</span>.<br>
            <table class="table text-center nostyle">
                <thead>
                <tr>
                    <th class="text-center">Player</th>
                    <th class="text-center">Score</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-show="score.overallScore > 0" ng-repeat="score in scores">
                    <td>{{ score.user }}</td>
                    <td>{{ score.overallScore }}</td>
                </tr>
                </tbody>
            </table>
        </div>


        <div class="text-center" ng-show="cond == 'ko'">
            You will be working with other players to build bigger and better solutions to our problem!<br>
            Can you help improve the previous solutions of other players?
        </div>


        <div ng-show="cond == 'kso'">
            <div class="text-center">
                Do you think you have what it takes to become our top player?<br><br>
                You will be working with other players to build bigger and better solutions to our problem!<br>
                Can you help improve the previous solutions of other players?<br>

                Your score is <span class="score">{{performance.player}} (Rank: {{overallScoreRank || 'unranked'}})</span>.<br>
                <table class="table text-center nostyle">
                    <thead>
                    <tr>
                        <th class="text-center">Player</th>
                        <th class="text-center">Score</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-show="score.overallScore > 0" ng-repeat="score in scores">
                        <td>{{ score.user }}</td>
                        <td>{{ score.overallScore }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>

        <div ng-show="cond == 'kos'">
            <div class="text-center">
                You will be working with other players to build bigger and better solutions to our problem!<br>
                Can you help improve the previous solutions of other players?<br><br>
                Do you think you have what it takes to become our top player?

                <br>

                Your score is <span class="score">{{performance.player}} (Rank: {{overallScoreRank || 'unranked'}})</span>.<br>

                <table class="table text-center nostyle">
                    <thead>
                    <tr>
                        <th class="text-center">Player</th>
                        <th class="text-center">Score</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-show="score.overallScore > 0" ng-repeat="score in scores">
                        <td>{{ score.user }}</td>
                        <td>{{ score.overallScore }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <br>
        <div class="text-center">
            <button class="big-button ui black button" ng-click="reload()">Continue playing</button>
        </div>
    </div>
</div>


<div id="game-panel" style="" class="">
    <div style="float:right;">
        <div id="happiness" style="">
            <div>Happiness:</div>
            <div>{{ score }}/{{ target * leeway }}</div>
        </div>
    </div>
    <div style="" class="">
        <div id="sugg">
            <!--<div style="" class="med-button ui buttons">-->
                <!--<button ng-click="getSuggestion('-')" class="ui black icon button" style=""><i class="pointing left icon"></i></button>-->
                <!--<button style="min-width:95px;border-width:1px;border-style:solid;background-color:white;cursor:default;color:black;" class="ui button"><span ng-show="suggestions.suggestionList.length == 0">None</span><span ng-show=suggestions.suggestionList.length != 0">{{(suggestions.counter + 1|| 0)}} / {{suggestions.suggestionList.length}}</span></button>-->
                <!--<button ng-click="getSuggestion('+')" class=" ui black icon button" style=""><i class="pointing right icon"></i></button>-->
            <!--</div>-->
            <!--<br>-->
            <div style="" class="med-button ui buttons">
                <button ng-click="getNextAll('-')" class="ui black icon button" style=""><i class="pointing left icon"></i></button>
                <button style="min-width:95px;border-width:1px;border-style:solid;background-color:white;cursor:default;color:black;" class="ui button"><span ng-show="scroll.max == -1">0/0</span><span ng-show="scroll.max != -1">{{scroll.counter + 1}} / {{models[scroll.max].length}}</span></button>
                <button ng-click="getNextAll('+')" class="ui black icon button" style=""><i class="pointing right icon"></i></button>
            </div>

        </div>
    </div>

</div>


<!--end == 2 || end == 3-->
<div ng-show="tutorial.show" style="top:0;bottom:0;left:0;right:0;position:absolute;background-color:rgba(255,255,255,0.5)">
    <div ng-show="tutorial.sucAttempts == 0">

        <div ng-show="tutorial.state == 0">
            Welcome to Beatlejuice, a planet inhabited by Blobs, an amiable and harmless alien species.
            Let's get you acquainted with them...

            <img style="height:10vh" src="assets/images/blah.png"/>

        </div>

        <div ng-show="tutorial.state == 1">
            Please meet <br>
            <ol>
                <li>Asako: <img style="height:10vh" src="https://chrchung.github.io/Creatures/66.png"/></li>
                <li>Amit: <img style="height:10vh" src="https://chrchung.github.io/Creatures/73.png"/></li>
                <li>Catherine: <img style="height:10vh" src="https://chrchung.github.io/Creatures/101.png"/></li>
                <li>And finally, Elsie: <img style="height:10vh" src="https://chrchung.github.io/Creatures/136.png"/>
                </li>

            </ol>

            Blobs are very social and love basking in eachother's company. They
            co-exist as Blob Clusters. In fact, Asako, Amit, Catherine and Elsie are a Blob Cluster:
            <img style="height:10vh" src="assets/images/0_0.png"/>

            <br>
            <div class="text-center ui buttons">
                <button ng-click="next(0)" class="big-button ui black icon button"><i class="left chevron icon"></i>
                </button>
                <button ng-click="next(2)" class="big-button ui black icon button"><i class="right chevron icon"></i>
                </button>
            </div>
        </div>

        <div ng-show="tutorial.tutState == 2">
            <div>
                Shown above is the game screen. <br>
                Each row contains several Blob Clusters.
                Scroll through them using the blue left/right arrow buttons: <img style="width:30%"
                                                                                  src="assets/images/arrow.png"/><br>

                The Blob Cluster on the first row is in need of your help. It is unhappy. <br>
                You can help increase its happiness by helping it form a Blob Supercluster, <br>
                by grouping it with <strong>similar</strong> Blob Clusters.<br>
            </div>

            <br>

            <div class="text-center ui buttons">
                <button ng-click="next(1)" class="big-button ui black icon button"><i class="left chevron icon"></i>
                </button>
                <button ng-click="next(3)" class="big-button ui black icon button"><i class="right chevron icon"></i>
                </button>
            </div>

        </div>

        <div ng-show="tutState == 3" class="tut-text">
            <div>
                Blob clusters are similar if they have common creatures.<br><br>
                For instance, <img style="height:10vh" src="assets/images/0_0.png"/> and <img style="height:10vh"
                                                                                              src="assets/images/2_1.png"/>
                <br>
                are similar because they both have
                <img style="height:10vh" src="https://chrchung.github.io/Creatures/66.png"/>, <img style="height:10vh"
                                                                                                   src="https://chrchung.github.io/Creatures/101.png"/>,
                and
                <img style="height:10vh" src="https://chrchung.github.io/Creatures/136.png"/>.<br><br>


                Ultimately, your goal is to reach the ‘Happiness’ score (1 in this case) <br>
                that is shown on the bottom right of the game screen.<br>
            </div>

            <br>

            <div class="text-center ui buttons">
                <button ng-click="next(2)" class="big-button ui black icon button"><i class="left chevron icon"></i>
                </button>
                <button ng-click="next(4)" class="big-button ui black icon button"><i class="right chevron icon"></i>
                </button>
            </div>
        </div>

        <div ng-show="tutorial.state == 4" class="tut-text">
            <div>
                Please attempt to reach the 'Happiness' score now, by helping the Blob Cluster
                in the first row form a Blob Supercluster, that is a grouping of Blob Clusters.
            </div>

            <div class="text-center ui buttons">
                <button ng-click="next(3)" class="big-button ui black icon button"><i class="left chevron icon"></i>
                </button>
                <button ng-click="next(5)" class="big-button ui black icon button"><i class="right chevron icon"></i>
                </button>
            </div>
        </div>
    </div>


    <div ng-show="tutorial.sucAttempts == 1">

        <div ng-show="tutorial.state == 0" class="tut-text">
            <div>
                To help you identify suitable Blob clusters,
                Blobs that are in your Blob Supercluster are highlighted in blue,
                and Blobs that are in <strong>many</strong> elements of the Supercluster
                are highlighted with a more saturated blue.
            </div>


            <div class="text-center ui buttons">
                <button ng-click="next(1)" class="big-button ui black icon button"><i class="right chevron icon"></i>
                </button>
            </div>
        </div>
    </div>

    <div ng-show="tutorial.sucAttempts == 4">

        <div ng-show="tutorial.state == 0" class="tut-text">
            <div>
                Blob Clusters will often already belong to a Supercluster.<br>
                The different Superclusters are labelled using coloured bars to the right of each element.
                For instance, the elements in row 2 and row 4 a friends because their bars have the same color.

                Blob Clusters that already belong to a Supercluster may be happy and disinclined to leave.
                Therefore, even if these Blob Clusters are similar to the Supercluster you are building,
                your happiness score may still decrease.

                A Blob Cluster's happiness is indicated by a happiness bar on its left, like so: <img src="assets/images/happy.png">.
                A fully red bar indicates a very happy Blob Cluster.<br>


                <strong>Lookout for Clusters that have low happiness and are highly similar to your Supercluster as they
                    have a good chance of improving your score.</strong><br>


                Try to add elements with low happiness bars to reach the target score.
            </div>


            <div class="text-center ui buttons">
                <button ng-click="next(1)" class="big-button ui black icon button"><i class="right chevron icon"></i>
                </button>
            </div>
        </div>
    </div>


    <div ng-show="tutorial.sucAttempts == 7">

        <div ng-show="tutorial.state == 0" class="tut-text">
            <div>
                You can reorder the Blob Clusters in each row so that they are sorted based on those that have been check-marked  <img style="height:10vh" src="assets/images/checked.png">.
                This will help you identify the Blob Clusters that are most similar to those in your Supercluster.
                Using this feature, try your hand at beating the target score once more!
            </div>


            <div class="text-center ui buttons">
                <button ng-click="next(1)" class="big-button ui black icon button"><i class="right chevron icon"></i>
                </button>
            </div>
        </div>
    </div>

</div>