<!--<div style="float:right;margin:1%">-->
    <!--<button ui-sref="quit" class="ui massive black basic icon button">-->
        <!--Quit-->
        <!--<i class="remove icon"></i>-->
    <!--</button>-->
<!--</div>-->


<section class="landing background">
    <div class="landing-container text-center">

        <div ng-show="cond == 'k'">
            Thanks for playing! Your efforts will help improve software engineering practices.<br><br>
        </div>

        <div ng-show="cond == 'ks'">
            Thanks for playing! Your efforts will help improve software engineering practices.<br><br>

            Your score is <span class="score">{{performance.player}} (Rank: {{overallScoreRank || 'unranked'}})</span>. Can you improve your score?

            <table class="table text-center nostyle">
                <thead>
                <tr>
                    <th class="text-center">Player</th>
                    <th class="text-center">Earnings</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-show="score.overallScore > 0" ng-repeat="score in scores">
                    <td>{{ score.user }}</td>
                    <td>{{ score.overallScore }}</td>
                </tr>
                </tbody>
            </table>
        </div>


        <div class="text-center" ng-show="cond == 'ko'">
            Thanks for playing! Your efforts will help improve software engineering practices.<br><br>

            Players collectively scored {{performance.allP}}. Can you help improve this score?
        </div>


        <div ng-show="cond == 'kso'">
            <div class="text-center">
                Thanks for playing! Your efforts will help improve software engineering practices.<br><br>

                Your score is <span class="score">{{performance.player}} (Rank: {{overallScoreRank || 'unranked'}})</span>. Can you improve your score? <br><br>

                Players collectively scored {{performance.allP}}. Can you help improve this score?
            </div>

        </div>

        <div ng-show="cond == 'kos'">
            <div class="text-center">
                Thanks for playing! Your efforts will help improve software engineering practices.<br><br>

                Players collectively scored {{performance.allP}}. Can you help improve this score?<br><br>

                Your score is <span class="score">{{performance.player}} (Rank: {{overallScoreRank || 'unranked'}})</span>. Can you improve your score?
            </div>
        </div>

        <br>

        <div class="inline a-one animated bounceInDown">
            <div class="hvr-grow-rotate">
                <div class="landing-item" ng-click="game()">START GAME</div>
            </div>
        </div>


        <div class="inline a-one animated bounceInDown">
            <div class="hvr-grow-rotate">
                <div class="landing-item" ui-sref="tutorial">HOW TO PLAY</div>
            </div>
        </div>


        <div ng-show="cond == 'ko' || cond == 'kso' || cond == 'kos'" class="a-one animated bounceInDown">
            <div class="hvr-grow-rotate">
                <div class="landing-item" ui-sref="scoreboard">HALL OF FAME</div>
            </div>
        </div>

        <div class="a-one animated bounceInDown">
            <div class="hvr-grow-rotate">
                <div class="landing-item" ui-sref="tip">TIPS</div>
            </div>
        </div>

        <div class="a-one animated bounceInDown">
            <div class="hvr-grow-rotate">
                <div class="landing-item" ui-sref="about">ABOUT THE GAME</div>
            </div>
        </div>

        <div class="a-one animated bounceInDown">
            <div class="hvr-grow-rotate">
                <div style="color:rgb(0, 242, 255)" class="landing-item" ui-sref="quit">QUIT GAME FOR GOOD</div>
            </div>
        </div>

    </div>
</section>
